In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('Air_Traffic_Passenger_Statistics.csv')

In [4]:
df.info

<bound method DataFrame.info of        Activity Period Operating Airline Operating Airline IATA Code  \
0               200507      ATA Airlines                          TZ
1               200507      ATA Airlines                          TZ
2               200507      ATA Airlines                          TZ
3               200507       Air Canada                           AC
4               200507       Air Canada                           AC
...                ...               ...                         ...
15002           201603    Virgin America                          VX
15003           201603    Virgin America                          VX
15004           201603    Virgin America                          VX
15005           201603   Virgin Atlantic                          VS
15006           201603   Virgin Atlantic                          VS

      Published Airline Published Airline IATA Code    GEO Summary GEO Region  \
0          ATA Airlines                          TZ       Domestic         US
1          ATA Airlines                          TZ       Domestic         US
2          ATA Airlines                          TZ       Domestic         US
3           Air Canada                           AC  International     Canada
4           Air Canada                           AC  International     Canada
...                 ...                         ...            ...        ...
15002    Virgin America                          VX       Domestic         US
15003    Virgin America                          VX  International     Mexico
15004    Virgin America                          VX  International     Mexico
15005   Virgin Atlantic                          VS  International     Europe
15006   Virgin Atlantic                          VS  International     Europe

      Activity Type Code Price Category Code       Terminal Boarding Area  \
0               Deplaned            Low Fare     Terminal 1             B
1               Enplaned            Low Fare     Terminal 1             B
2         Thru / Transit            Low Fare     Terminal 1             B
3               Deplaned               Other     Terminal 1             B
4               Enplaned               Other     Terminal 1             B
...                  ...                 ...            ...           ...
15002           Enplaned            Low Fare     Terminal 2             D
15003           Deplaned            Low Fare  International             A
15004           Enplaned            Low Fare     Terminal 2             D
15005           Deplaned               Other  International             A
15006           Enplaned               Other  International             A

       Passenger Count Adjusted Activity Type Code  Adjusted Passenger Count  \
0                27271                    Deplaned                     27271
1                29131                    Enplaned                     29131
2                 5415          Thru / Transit * 2                     10830
3                35156                    Deplaned                     35156
4                34090                    Enplaned                     34090
...                ...                         ...                       ...
15002           194636                    Enplaned                    194636
15003             4189                    Deplaned                      4189
15004             4693                    Enplaned                      4693
15005            12313                    Deplaned                     12313
15006            10898                    Enplaned                     10898

       Year  Month
0      2005   July
1      2005   July
2      2005   July
3      2005   July
4      2005   July
...     ...    ...
15002  2016  March
15003  2016  March
15004  2016  March
15005  2016  March
15006  2016  March

[15007 rows x 16 columns]>

In [5]:
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July

In [6]:
df.columns

Index(['Activity Period', 'Operating Airline', 'Operating Airline IATA Code',
       'Published Airline', 'Published Airline IATA Code', 'GEO Summary',
       'GEO Region', 'Activity Type Code', 'Price Category Code', 'Terminal',
       'Boarding Area', 'Passenger Count', 'Adjusted Activity Type Code',
       'Adjusted Passenger Count', 'Year', 'Month'],
      dtype='object')

In [11]:
df['Adjusted Passenger Count'].describe()

count     15007.000000
mean      29331.917105
std       58284.182219
min           1.000000
25%        5495.500000
50%        9354.000000
75%       21182.000000
max      659837.000000
Name: Adjusted Passenger Count, dtype: float64

In [12]:
df['Passenger Count'].describe()

count     15007.000000
mean      29240.521090
std       58319.509284
min           1.000000
25%        5373.500000
50%        9210.000000
75%       21158.500000
max      659837.000000
Name: Passenger Count, dtype: float64

In [13]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset: 100%|██████████| 29/29 [00:09<00:00,  3.13it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:05<00:00,  5.77s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.03s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 143.33it/s]